*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    transition: 0.2s;
}
html {
    height: -webkit-fill-available;
}
body{
    background-color: var(--gradient1-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    gap: 10px;
    user-select: none;
    position: relative;
}

.primary{
    color: var(--primary);
}
.secondary{
    color: var(--secondary-color);
}
.gradient3{
    color: var(--gradient2-color);
}
.logo{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
}
.logo img{
    width: 100%;
}